footer {
  text-align: center;
  margin: 1.5rem 0 1rem 0;
}
footer p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.copyright {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  margin: 2rem 0 0 1rem;
  font-size: 1rem;
}